#!/usr/bin/env bash

set -ex

if [ "$1" = "" ]; then
  echo "Usage: $0 <username>"
  exit 1
fi

USER=$1
SERVER={{ openvpn_server_addr }}

touch /etc/openvpn/client/$USER
echo $USER > /etc/openvpn/client/$USER
openssl rand -hex 4 >> /etc/openvpn/client/$USER

echo "# $USER
client
reneg-sec 0
resolv-retry infinite
remote-cert-tls server
nobind
verb {{ openvpn_server_conf_verb }}
dev {{ openvpn_server_conf_dev }}
remote $SERVER {{ openvpn_server_conf_port }} {{ openvpn_server_conf_proto }}
auth-user-pass
auth SHA512
persist-key
persist-tun

<ca>
$(sed -n '/BEGIN CERTIFICATE/,/END CERTIFICATE/p' /etc/openvpn/easy-rsa/pki/ca.crt)
</ca>" > /etc/openvpn/client/$USER.ovpn
